* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: beige;
}

header {
    padding: 10px;
    font-family:'Courier New', Courier, monospace;
    background-color: olive;
}

header h1{
    display: inline-block;
    font-size: 28px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin-left: 25px;
}

a {
    color:beige;
    text-decoration: solid;
}

main {
    width: auto;
    display: block;

    margin-left: 20px;
}

.box {
    width: 200px;
    height: 100px;
    justify-content: right;
}

main article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-size: small;
    font-family:'Courier New', Courier, monospace;
    background-color:darkolivegreen;
}

main aside img{
    display: flex;
    margin: 10px auto;
    max-width: 200px;
    flex-direction: row;
}

main aside{
    float: right;
    justify-content: right;
}

main aside li{
    display: inline-block;
    max-width:fit-content;
    align-content: baseline;
    background-color: aqua;
}


img {
    max-height: 200px;

}

h2{
    margin-bottom: 20px;
    font-size: 36px;
}